.carousel {
    display: flex;
    flex-direction: row;
    height: 70vh;
}

.carousel .slide-container {
    display: flex;
}

.carousel button {
    margin: auto 0;
    width: 4rem;
    height: 4rem;
    transform: translateY(-50%);
    border-radius: 50%;
    background-color: black;
    background-clip: content-box;
    border: 0.25rem solid transparent;
    transition: transform 0.1s;
    color: white;
}

.prevAndNextBtn {
    max-height: 100%;
    max-width: 100%;
    background-color: #CCC;
    border-radius: 50%;
    padding: 0.5em;
    transform: translate(25%);
    filter: invert(100%);
    margin: auto;
}


.slide-container img {
    max-height: 100%;
    max-width: 100%;
    margin: auto;

    @media screen and (max-width: 480px) {
        width: 100%;
        height: auto;
    }
}