* {
    font-family: verdana, arial, sans-serif;
}

.contact-body {
    margin: 0;
}

.titre {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #734444;;
    color: #fff;
    padding: 10px;
}

h1 {
    margin-top: 0.8em;
    margin-bottom: 0;
    text-align: center;
    flex-grow: 1;
}

#titreMenu {
    margin-left: 5%;
}

.head:first-child {
    margin-right: auto;
    display: flex;
    align-items: center;
}

.head a {
    color: #fff;
    text-decoration: none;
    margin-left: 20px;
    display: inline-block;
}

.contact-info {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    margin: 25px auto;

    @media screen and (max-width: 380px) {
        width: max-content;
    }
}

.contact-info p {
    margin: 10px 0;
}

.contact-info strong {
    color: #734444;
}

body {
    background-color: #734444;
}

section {
    padding: 0;
    background-size: cover;
    background-position: center;
    background-image: url("../images/figuies-10.jpg");
}

.calendar {
    width: 600px;
    height: auto;
    margin: 20px auto;
    background-color: rgba(234, 153, 116, 1);
    padding-bottom: 6%;
    border: 2px solid rgba(195, 120, 87, 0.8);;
}